<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS Spam Detection</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">

        <h1>📩 SMS Spam Detection</h1>

        <form action="/predict" method="POST">

            <textarea
                name="message"
                placeholder="Enter your SMS here..."
                rows="8"
                required>{{ message if message else '' }}</textarea>

            <button type="submit">Predict</button>

        </form>

        {% if prediction %}
    <div class="result {{ color }}">
        {{ prediction }}
    </div>
    {% endif %}

    <div class="footer">
    
    </div>

    </div>

</body>
</html>